.resale {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 20px;
  padding: 0 10px;
}

.resale__content {
  max-width: 840px;
}

@media screen and (max-width: 930px) {
  .resale {
    flex-direction: column;
    align-items: center;
  }
}
