.spay-neuter {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 20px;
  padding: 0 10px;
}

.spay-neuter__content {
  max-width: 840px;
}

.red-text {
  color: #f00;
  font-weight: 700;
}

.maroon-text {
  color: #800000;
  font-weight: 700;
}

.green-text {
  color: #008000;
  font-weight: 700;
}

@media screen and (max-width: 930px) {
  .spay-neuter {
    flex-direction: column;
    align-items: center;
  }
}
