.page {
  height: 100%;
  font-family: "Inter-Regular", sans-serif;
  padding: 20px;
  background-image: url("../../assets/ahaBackground.jpg");
  background-position: left top;
  background-size: contain;
  background-repeat: repeat;
  background-attachment: fixed;
}

.page__content {
  background-color: #fff;
}

@media screen and (max-width: 670px) {
  .page {
    background: none;
  }
}
