.page {
  height: 100%;
  font-family: "Inter-Regular", sans-serif;
  padding: 20px;
  background-image: url("../../assets/ahaBackground.jpg");
  background-position: left top;
  background-size: contain;
  background-repeat: repeat;
  background-attachment: fixed;
}

.page__content {
  background-color: #fff;
}

p,
li {
  font-size: 18px;
  line-height: 1.5;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

@media screen and (max-width: 730px) {
  .page {
    background: none;
  }
}
