.about {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 20px;
  padding: 0 10px;
}

.about__content {
  max-width: 840px;
}

.about__quote {
  color: #686868;
  margin: 0;
  font-weight: 700;
  font-style: italic;
  border: 0 solid #1a1a1a;
  border-left-width: 4px;
  padding: 0 0 0 10px;
}

.about__video {
  max-width: 100%;
}

@media screen and (max-width: 930px) {
  .about {
    flex-direction: column;
    align-items: center;
  }
}
